.ipynb_checkpoints
dikes.bin
grid.*
markers.h5
pa.bin
particles.h5
eruptions.bin
eruptions2.bin
script_read.asv
script_read.m
build
init_data
*.asv
nvim-lspconfig
*.vim
*.norg
*.h5
untitled*
*.bat
*.m
*.m~
*.swp
*.un~
*.bat~
*.jpg
*.png
*.fig
*init_data
*.csv
*.glade~
