build
dikes.bin
grid.*
markers.h5
pa.bin
particles.h5
eruptions.bin
init_data
d2d_config*
d2d_snapshot*
*.asv
*.vim
*.norg
*.h5
untitled*
*.bat
*.swp
*.jpg
*.png
*.fig
*init_data
*~
*.exe
*.cu

#For debugging purpose onlye
*6ms*
